<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New address</h1>

  <%= render "form", address: @address %>

  <%= link_to 'Back to addresses', addresses_path, class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
</div>
