<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing state</h1>
  <%= render "form", state: @state %>
  <%= link_to "Show this state", admin_state_path(@state), class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
  <%= link_to "Back to states", admin_states_path, class: "rounded-md py-3 px-5 bg-gray-100 inline-block font-medium capitalize hover:text-white hover:bg-accent-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-400" %>
</div>
