<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <main class="relative max-w-7xl mx-auto my-2 px-4 lg:px-6 xl:px-0">
      <div class="messages w-full">
        <%= render 'shared/flash_messages' %>
      </div>
      <section class="w-full">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
